<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertionEcolage</servlet-name>
        <servlet-class>Servlet.ServletInsertionEcolage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertionNotes</servlet-name>
        <servlet-class>Servlet.ServletInsertionNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPageEtudiant</servlet-name>
        <servlet-class>Servlet.ServletPageEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPageListeETU</servlet-name>
        <servlet-class>Servlet.ServletPageListeETU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPageResultats</servlet-name>
        <servlet-class>Servlet.ServletPageResultats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPageNotes</servlet-name>
        <servlet-class>Servlet.ServletPageNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertionEtudiant</servlet-name>
        <servlet-class>Servlet.ServletInsertionEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRechercheETU</servlet-name>
        <servlet-class>Servlet.ServletRechercheETU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDetailEtudiant</servlet-name>
        <servlet-class>Servlet.ServletDetailEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEtatPayementEcolage</servlet-name>
        <servlet-class>Servlet.ServletEtatPayementEcolage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValiderNote</servlet-name>
        <servlet-class>Servlet.ServletValiderNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRechercheRangETU</servlet-name>
        <servlet-class>Servlet.ServletRechercheRangETU</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertionEcolage</servlet-name>
        <url-pattern>/ServletInsertionEcolage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertionNotes</servlet-name>
        <url-pattern>/ServletInsertionNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPageEtudiant</servlet-name>
        <url-pattern>/ServletPageEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPageListeETU</servlet-name>
        <url-pattern>/ServletPageListeETU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPageResultats</servlet-name>
        <url-pattern>/ServletPageResultats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPageNotes</servlet-name>
        <url-pattern>/ServletPageNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertionEtudiant</servlet-name>
        <url-pattern>/ServletInsertionEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRechercheETU</servlet-name>
        <url-pattern>/ServletRechercheETU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDetailEtudiant</servlet-name>
        <url-pattern>/ServletDetailEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEtatPayementEcolage</servlet-name>
        <url-pattern>/ServletEtatPayementEcolage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValiderNote</servlet-name>
        <url-pattern>/ServletValiderNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRechercheRangETU</servlet-name>
        <url-pattern>/ServletRechercheRangETU</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
